{% extends "base.html" %}

{% block stylesheet %}
{% endblock %}

{% block errMessage %}
    <div class="errMessage">
        {{ errMessage }}
    </div>
{% endblock %}

{% block body %}
    <h1>Liste des Réalisations</h1>
    <a class="ui-button ui-widget ui-corner-all" href="?c=realisation&t=create">Création</a>
    <table id="realisations">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Catégorie_id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for realisation in realisations %}
                <tr>
                    <td>{{ realisation.id }}</td>
                    <td>{{ realisation.nom }}</td>
                    <td>{{ realisation.categorie.nom }}</td>
                    <td><a class="ui-button ui-widget ui-corner-all" href="?c=realisation&t=edit&id={{realisation.id}}">Modifier</a>
                        <a class="ui-button ui-widget ui-corner-all" href="?c=realisation&t=delete&id={{realisation.id}}">Supprimer</a>
                    </td>
                    
                </tr> 
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block script %}
    <script>
        new DataTable('#realisations');
    </script>
{% endblock %}
